body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f8ff;
  color: #333;
  text-align: center;
}

header {
  background-color: #4CAF50;
  color: white;
  padding: 20px;
}

h1 {
  margin: 0;
}

section {
  margin: 20px;
  padding: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background: #ddd;
  margin: 5px;
  padding: 8px;
  border-radius: 5px;
}

button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 20px;
  margin: 20px 0;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}